<%- include('partial/head.ejs') %>
<%- include('partial/nav.ejs') %>

<div class="home_container">
    <h1>
        500
    </h1>
    <h3>
        Ups... coś nam się wykrzaczyło
    </h3>
    <p>
        Już nad tym pracujemy.
    </p>
    <p>
        Prosimy spróbować ponownie później.
    </p>
</div>
   
        
<%- include('partial/end.ejs') %>