<%- include('partial/head.ejs') %>
<%- include('partial/nav.ejs') %>

<div class="home_container">
    <h1>
        404
    </h1>
    <h3>
        Ups... coś poszło nie tak
    </h3>
</div>
   
        
<%- include('partial/end.ejs') %>