</main>
<footer>
    <p>Created and designed with passion by: 
        <a href="https://dao0dao.github.io/dao/">< Dao /></a>
    </p>
</footer>
<script src="/scripts/burger.js"></script>
</body>
</html>